{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body%}
<div id="chat" class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul id="sidebar" class="nav nav-sidebar">
                {% for user in users %}
                <li id="sidebar_{{ user['id'] }}" onclick="set_active('{{ user['id'] }}')"><a href="#"><i id="online_{{ user['id'] }}" class="fa fa-circle" style="color:green;visibility:hidden;"></i>  {{ user['name'] }}<img src="/get_image?id={{ user['id'] }}" class="img-circle" style="float:right;height:30px;width:30px;position:relative;top:-5px;"/></a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="container" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            {% for user in users %}
            <div id="messages_{{ user['id'] }}" style="display: none;"></div>
            {% endfor %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" id="msg" placeholder="Enter Message" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="send">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div id="profile" class="container-fluid">

</div>
<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_title"></h4>
            </div>
            <div class="modal-body" id="profile_body">
                <img id="modal_img" class="img-circle" style="display: block;margin-left: auto;margin-right: auto;" width=150" height="150" />
                <br><br>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td style="width:35%;">Email:</td>
                            <td id="modal_email" style="width:65%;"></td>
                        </tr>
                        <tr>
                            <td style="width:35%;">Status:</td>
                            <td id="modal_status" style="width:65%;"></td>
                        </tr>
                        <tr>
                            <td style="width:35%;"></td>
                            <td align="right" id="modal_buttons" style="width:65%;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}