<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/css/material-wfont.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.min.js"></script>
        <style>
            .navbar-inverse .navbar-brand:hover,
            .navbar-inverse .navbar-brand:focus,
            .navbar-inverse .navbar-brand:not(:focus) {
              background-color: transparent;
              color: #ffffff;
            }
        </style>
        <nav class="navbar navbar-inverse" style="background-color:#01579b">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Chat!</div>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                    {% if register %}
                        <li><a href="/login">Login</a></li>
                    {% else %}
                        <li><a href="/register">Register</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </head>
    {% block body %}{% endblock %}
</html>